@model IEnumerable<TaskingSystem2.Models.Section>

@{
    ViewData["Title"] = "Index";
}


<div class="Form-background border">

    <div class="row">
        <div class="col-6 ">
            <h2 class="text-info"> Section List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButton" />
        </div>
    </div>

    <br />

    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped">
                <thead class="table-secondary">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Department)
                        </th>
                        <th></th>
 

                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.Name)
                            </td>
     
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        }
        else
        {
            <p>No Data Exist</p>
        }
    </div>
</div>
